include ../_components/fa
include ../_components/style

doctype html
html(lang="en")
    head
        // Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        // Icons
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
        link(rel="icon" type="image/png" href="/favicon.png")

        // Other
        title= title || "Kitchen View"

        // Bootstrap CSS
        +style("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")(
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        )

        // Bootstrap JS
        script(
            defer
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        )
        script(
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        )
        script(
            defer
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        )

        // FontAwesome CSS
        +style("https://use.fontawesome.com/releases/v5.2.0/css/all.css")(
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous"
        )

        // Theme CSS
        +style("/styles/main.css")

        // Main JS
        script(defer src="/scripts/main.js")

        // Live Queue JS
        script(defer src="/scripts/queue-websocket.js")

        block head

    body.flex.flex-col

        header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                span.navbar-brand.logo-text.m-auto= Queue.name

        main.flex-grow#item-screen(data-queue-id=Queue.id data-queue-key=ViewKey data-queue-secret=ViewSecret)

        footer.flex.flex-center.text-light.bg-dark.p-1
            div &copy; #{ (new Date()).getFullYear() } NewPointe Community Church
